<h2><%= @episode.title %></h2>
<p>
  <%= @episode.description %>
</p>

<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_episode_path(@episode), class: "btn btn-default" %>
<%= link_to "Delete", episode_path(@episode), method: :delete, class: "btn btn-default" %>
